body {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255, 255, 255,.5);
	top: 15%;
	letter-spacing: .5em;
	background: linear-gradient(to right, red, yellow);
}

h1 {
	font: 600 3em 'Cabin Sketch', cursive;
	color: rgba(255, 255, 255,.5);
	letter-spacing: .5em;
	width: 100%;
}

h2 {
	font-family: 'Cabin Sketch', cursive;
	margin-top: 45px;
	margin-bottom: 20px;
}

h3 {
	font: 400 1em;
	text-transform: none;
	letter-spacing: 0.01em;
}

#randomColorBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1em;
}

button {
	width: 110px;
	height: 25px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, .2);
}

input {
	background-color: rgba(255, 255, 255, .2);
	border-width: 0;
	padding: 0;
	width: 60px;
	height: 40px;
}